# distil-qwen3-4b:latest Text2SQL + qwen2.5-coder:7b AI response / Judge
TEXT2SQL_MODEL=distil-qwen3-4b:latest
AI_RESPONSE_MODEL=qwen2.5-coder:7b
JUDGE_MODEL=qwen2.5-coder:7b
MODEL_URL=http://ollama:11434/v1/chat/completions
OLLAMA_MODELS_PATH=/home/name/ollama_models_shared # bind mount path to shared folder on local disk
COMPOSE_PROJECT_NAME=offline-ai # custom docker compose project name 